Package: com.insanj.longerautolock
Name: LongerAutoLock
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate, ws.hbang.common (>= 1.2)
Version: 1.1
Architecture: iphoneos-arm
Description: More Auto Lock options.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Application Support/LongerAutoLock/icon@2x.png
